In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/audible-dataset/audible_cleaned.csv
/kaggle/input/audible-dataset/audible_uncleaned.csv

In [2]:
df = pd.read_csv('/kaggle/input/audible-dataset/audible_uncleaned.csv')

df

,name,author,narrator,time,releasedate,language,stars,price
0,Geronimo Stilton #11 & #12,Writtenby:GeronimoStilton,Narratedby:BillLobely,2 hrs and 20 mins,04-08-08,English,5 out of 5 stars34 ratings,468.00
1,The Burning Maze,Writtenby:RickRiordan,Narratedby:RobbieDaymond,13 hrs and 8 mins,01-05-18,English,4.5 out of 5 stars41 ratings,820.00
2,The Deep End,Writtenby:JeffKinney,Narratedby:DanRussell,2 hrs and 3 mins,06-11-20,English,4.5 out of 5 stars38 ratings,410.00
3,Daughter of the Deep,Writtenby:RickRiordan,Narratedby:SoneelaNankani,11 hrs and 16 mins,05-10-21,English,4.5 out of 5 stars12 ratings,615.00
4,"The Lightning Thief: Percy Jackson, Book 1",Writtenby:RickRiordan,Narratedby:JesseBernstein,10 hrs,13-01-10,English,4.5 out of 5 stars181 ratings,820.00
...,...,...,...,...,...,...,...,...
87484,Last Days of the Bus Club,Writtenby:ChrisStewart,Narratedby:ChrisStewart,7 hrs and 34 mins,09-03-17,English,Not rated yet,596.00
87485,The Alps,Writtenby:StephenO'Shea,Narratedby:RobertFass,10 hrs and 7 mins,21-02-17,English,Not rated yet,820.00
87486,The Innocents Abroad,Writtenby:MarkTwain,Narratedby:FloGibson,19 hrs and 4 mins,30-12-16,English,Not rated yet,938.00
87487,A Sentimental Journey,Writtenby:LaurenceSterne,Narratedby:AntonLesser,4 hrs and 8 mins,23-02-11,English,Not rated yet,680.00
87488,Havana,Writtenby:MarkKurlansky,Narratedby:FleetCooper,6 hrs and 1 min,07-03-17,English,Not rated yet,569.00

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87489 entries, 0 to 87488
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         87489 non-null  object
 1   author       87489 non-null  object
 2   narrator     87489 non-null  object
 3   time         87489 non-null  object
 4   releasedate  87489 non-null  object
 5   language     87489 non-null  object
 6   stars        87489 non-null  object
 7   price        87489 non-null  object
dtypes: object(8)
memory usage: 5.3+ MB

# Initial thoughts:

* There are no nulls in the dataset, all dtypes are object

# First cleaning steps:

* Add underscore to 'releasedate'

* Convert time,release date to datetime format. Ensure that 'time' is HH:MM format.

In [4]:
df=df.rename(columns={'releasedate':'release_date'})

df['release_date'] = pd.to_datetime(df['release_date'],format='mixed')

df

,name,author,narrator,time,release_date,language,stars,price
0,Geronimo Stilton #11 & #12,Writtenby:GeronimoStilton,Narratedby:BillLobely,2 hrs and 20 mins,2008-04-08,English,5 out of 5 stars34 ratings,468.00
1,The Burning Maze,Writtenby:RickRiordan,Narratedby:RobbieDaymond,13 hrs and 8 mins,2018-01-05,English,4.5 out of 5 stars41 ratings,820.00
2,The Deep End,Writtenby:JeffKinney,Narratedby:DanRussell,2 hrs and 3 mins,2020-06-11,English,4.5 out of 5 stars38 ratings,410.00
3,Daughter of the Deep,Writtenby:RickRiordan,Narratedby:SoneelaNankani,11 hrs and 16 mins,2021-05-10,English,4.5 out of 5 stars12 ratings,615.00
4,"The Lightning Thief: Percy Jackson, Book 1",Writtenby:RickRiordan,Narratedby:JesseBernstein,10 hrs,2010-01-13,English,4.5 out of 5 stars181 ratings,820.00
...,...,...,...,...,...,...,...,...
87484,Last Days of the Bus Club,Writtenby:ChrisStewart,Narratedby:ChrisStewart,7 hrs and 34 mins,2017-09-03,English,Not rated yet,596.00
87485,The Alps,Writtenby:StephenO'Shea,Narratedby:RobertFass,10 hrs and 7 mins,2017-02-21,English,Not rated yet,820.00
87486,The Innocents Abroad,Writtenby:MarkTwain,Narratedby:FloGibson,19 hrs and 4 mins,2016-12-30,English,Not rated yet,938.00
87487,A Sentimental Journey,Writtenby:LaurenceSterne,Narratedby:AntonLesser,4 hrs and 8 mins,2011-02-23,English,Not rated yet,680.00
87488,Havana,Writtenby:MarkKurlansky,Narratedby:FleetCooper,6 hrs and 1 min,2017-07-03,English,Not rated yet,569.00

In [5]:

#df['time'] = df['time'].str.replace(' and ',',')
#test = df['time'].str.split(",",expand=True)

In [6]:
df.query('time.str.contains("Less")',engine="python")

,name,author,narrator,time,release_date,language,stars,price
1401,The Story of Ice Cream,Writtenby:StacyTaus-Bolstad,Narratedby:BookBuddyDigitalMedia,Less than 1 minute,2021-01-01,English,Not rated yet,164.00
1403,The Story of Salt,Writtenby:LisaOwings,Narratedby:BookBuddyDigitalMedia,Less than 1 minute,2021-01-01,English,Not rated yet,164.00
1404,The Story of Milk,Writtenby:StacyTaus-Bolstad,Narratedby:BookBuddyDigitalMedia,Less than 1 minute,2021-01-01,English,Not rated yet,164.00
1408,The Story of an Apple,Writtenby:StacyTaus-Bolstad,Narratedby:BookBuddyDigitalMedia,Less than 1 minute,2021-01-01,English,Not rated yet,164.00
1409,We Like the Summer,Writtenby:KatiePeters,Narratedby:BookBuddyDigitalMedia,Less than 1 minute,2021-01-01,English,Not rated yet,164.00
...,...,...,...,...,...,...,...,...
87171,第二十五話サン・ミシェルのいいカフェ：ぼくの旅の手帖〜または珈琲のある風景,Writtenby:森本哲郎,Narratedby:小野田英一,Less than 1 minute,2015-11-20,japanese,Not rated yet,139.00
87175,第九話オラン最後の夕べ：ぼくの旅の手帖〜または珈琲のある風景,Writtenby:森本哲郎,Narratedby:小野田英一,Less than 1 minute,2015-11-19,japanese,Not rated yet,139.00
87176,第一話リューベックの追憶:ぼくの旅の手帖〜または珈琲のある風景,Writtenby:森本哲郎,Narratedby:小野田英一,Less than 1 minute,2015-07-23,japanese,Not rated yet,139.00
87180,第七話バグダードの茶屋:ぼくの旅の手帖〜または珈琲のある風景,Writtenby:森本哲郎,Narratedby:小野田英一,Less than 1 minute,2015-07-13,japanese,Not rated yet,139.00
87192,第十八話バンコックの憂鬱：ぼくの旅の手帖〜または珈琲のある風景,Writtenby:森本哲郎,Narratedby:小野田英一,Less than 1 minute,2015-11-19,japanese,Not rated yet,139.00

In [7]:
blah = df['time'].str.split(" ", expand=True)

blah = blah.rename(columns={1:'tester'})



blah.query('tester.str.contains("than")',engine='python')

          0 tester  2       3     4
1401   Less   than  1  minute  None
1403   Less   than  1  minute  None
1404   Less   than  1  minute  None
1408   Less   than  1  minute  None
1409   Less   than  1  minute  None
...     ...    ... ..     ...   ...
87171  Less   than  1  minute  None
87175  Less   than  1  minute  None
87176  Less   than  1  minute  None
87180  Less   than  1  minute  None
87192  Less   than  1  minute  None

[61 rows x 5 columns]

In [8]:
test = df['time'].str.split(" ", expand=True).iloc[:, 0:4:3].set_axis(["hour","minute"], axis=1)

test

      hour minute
0        2     20
1       13      8
2        2      3
3       11     16
4       10   None
...    ...    ...
87484    7     34
87485   10      7
87486   19      4
87487    4      8
87488    6      1

[87489 rows x 2 columns]

In [9]:
test.query('hour.str.contains("Less")',engine="python")

       hour  minute
1401   Less  minute
1403   Less  minute
1404   Less  minute
1408   Less  minute
1409   Less  minute
...     ...     ...
87171  Less  minute
87175  Less  minute
87176  Less  minute
87180  Less  minute
87192  Less  minute

[61 rows x 2 columns]

In [10]:
df_numeric = df['price']

df_numeric_nulls = df['price'].str.replace(',','')

df_numeric_nulls.name = "price_nulls"


df_numeric_nulls = pd.to_numeric(df_numeric_nulls,errors='coerce')

test = pd.concat([df_numeric,df_numeric_nulls],axis=1)

test_free = test[test['price_nulls'].isnull()]

test_free

      price  price_nulls
983    Free          NaN
1414   Free          NaN
1513   Free          NaN
2932   Free          NaN
4547   Free          NaN
...     ...          ...
80021  Free          NaN
81198  Free          NaN
82644  Free          NaN
86771  Free          NaN
86927  Free          NaN

[338 rows x 2 columns]